{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1>Welcome to the Sea Creatures App!</h1>
    
      <h2>Are you interested an ocean and sea creature lover?</h2>
      <h2>Do you wish there was a place to store all your knowledge of sea creatures?</h2>
      
      <p>If you answered yes to these questions, then you're in the right place!
      Welcome to the Sea Creatures App a place where you can log all the information you have on sea creatures.
      You can add images and information regarding each creature and even give them a rating based on how much you like the sea creature!
      Think of this App as your own personal Sea Creature database! We hope you have lots of fun logging your new discoveries!</p>
    
  
    <img src = "/ocean background.jpg" class = "ui centered image">

     <h2>Thanks for using the Sea Creatures App!</h2>

     <img src = "/coral.jpg" class = "ui centered image">
     <br>

  <div class="ui five statistics" style="margin-top: 1em;">

  
    
  {{#with info}}
     
    <div class="pink statistic">
      <div class="value">
        <i class="anchor icon"></i> 
      </div>
      <div class="label">
        App Title: <br>
        {{appTitle}}
      </div>
    </div>
    
    <div class="pink statistic">
      <div class="value">
        <i class="code branch icon"></i> 
      </div>
      <div class="label">
        App Version: <br>
        Version {{version}}
      </div>
    </div> 
     
    <div class="pink statistic">
      <div class="value">
        <i class="map pin icon"></i> 
      </div>
      <div class="label">
        Made in: <br>
        {{location}}
      </div>
    </div> 
	
    <div class="pink statistic">
      <div class="value">
        <i class="user icon"></i> 
      </div>
      <div class="label">
        Created by: <br>
        {{creators.0.name}}
      </div>
    </div>
	
    <div class="pink statistic">
      <div class="value">
        <i class="user plus icon"></i> 
      </div>
      <div class="label">
        With help from: <br>
        {{creators.1.name}}
      </div>
    </div>
	
  {{/with}}
  
</div>

</section>
