{{> menu id="stats"}}

<section class="ui center aligned middle aligned segment">

  <h1>Sea Creature App Statistics</h1>

  <h2>App Statistics</h2>

  <h2>Check out the awesome statistics from all our app users!:</h2>

<br>
  {{#with stats}}
  <div class="ui center aligned grid">

    <div class="ui sixteen wide column">

      <div class="ui centered four statistics">
        <div class="ui teal statistic">
          <div class="value">
            <i class="users icon"></i>
          </div>
          <div class="label">
            {{displayNumUsers}} users
          </div>
        </div>

        <div class="ui pink statistic">
          <div class="value">
            <i class="anchor icon"></i>
          </div>
          <div class="label">
            {{displayNumCreatures}} sea creatures
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="tint icon"></i>
          </div>
          <div class="label">
            {{displayNumSongs}} facts
          </div>
        </div>

        <div class="ui teal statistic">
          <div class="value">
            <i class="book icon"></i>
          </div>
          <div class="label">
            Average facts per <br> sea creature: {{displayAverage}}
          </div>
        </div>
      </div>
    </div>

   <div class="ui sixteen wide column">
      <div class="ui centered three statistics">

        <div class="ui yellow statistic">
          <div class="value">
            <i class="star icon"></i>
          </div>
          <div class="label">
            Highest Rated sea creature: {{highest}} stars
            <table>
              {{#each displayFav}}
              <tr>
                <td>{{this}}</td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>

        <div class="ui purple statistic">
          <div class="value">
            <i class="heart icon"></i>
          </div>
          <div class="label">
            Average Rating: {{displayAvgRating}}
          </div>
        </div>
		
         <div class="ui orange statistic">
          <div class="value">
            <i class="trophy icon"></i>
          </div>
          <div class="label">
            Largest Sea Creature collection: {{displayLongest}}
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <br>

  {{/with}}

</section>
